.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  align-items: center;
}

img {
  grid-column: 2/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}

h1 {
  grid-column: 1/1;
  grid-row: 1/1;
}

.forms {
  grid-column: 1/1;
  grid-row: 1/1;
}

.flexx {
}

body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
